<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>salgrade</title>
</head>
<body>
    <center>
    <table border="3px">
        <tr>
            <th>emp_salary</th>
            <th>grade</th>
            <th>lowsal</th>
            <th>highsal</th>
        </tr>
        {% for so in ealgrade %}
        <tr>
        <td>{{so.emp_salary}}</td>
         <td>{{so.grade}}</td>
         <td>{{so.lowsal}}</td>
         <td>{{so.highsal}}</td>
        </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>